body, html {
  height: 100%;
  margin: 0;
}

#shop header nav ul {
  padding: 5px 0;
}

#shop .section-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
}

.section-2 {
  text-align: center;
}

.section-2 .search {
  margin: 20px;
}

.section-2 .search .search-inner {
  display: inline-block;
  padding: 5px;
}

.section-2 .search .search-inner input {
  vertical-align: middle;
}

.section-2 .search .search-inner input[type=text] {
  border: none;
  padding: 7px;
}

.product-wrapper {
  text-align: center;
}

.product-wrapper .product-wrapper-inner {
  margin: 20px;
}

.product-wrapper .product-wrapper-inner .product {
  width: 25%;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
}

.product-wrapper .product-wrapper-inner .product .product-inner {
  border: 1px solid #ccc;
  border-radius: 7px;
  cursor: pointer;
}

.product-wrapper .product-wrapper-inner .product .product-inner:hover {
  opacity: 0.8;
}

.product-wrapper .product-wrapper-inner .product .product-inner p {
  padding: 5px 0;
  text-align: center;
}

.product-wrapper .product-wrapper-inner .product .product-inner p img, .product-wrapper .product-wrapper-inner .product .product-inner p a {
  vertical-align: middle;
}

.product-wrapper .product-wrapper-inner .product .product-inner a:hover {
  text-decoration: underline;
}

.red {
  color: #d23369
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.product-wrapper .product-wrapper-inner .product .product-inner .product-detail {
  text-align: left;
  padding: 10px 0 10px 10px;
}

.background-brown {
  background-color: rgb(245, 245, 250);
}

.contact a {
  text-decoration: none;
}


@media screen and (max-width: 1024px) {
  .product-wrapper .product-wrapper-inner .product {
    width: 33.33%;
  }
}

@media screen and (max-width: 768px) {
  .product-wrapper .product-wrapper-inner .product {
    width: 49%;
    padding: 10px;
  }
  h1 {
    font-size: 1.33rem;
  }
}